.main {
    display: flex;
}
.sideImageDiv{
  width: 45%;
}
.headingImgDiv img {
    margin: 0 0 30px 50px;
}

.calendarImg img {
    width: 400px;
    height: 440px;
    gap: 0px;
    border-radius: 34.69px 34.69px 34.69px 0px;
    opacity: 0px;
    position: relative;

}
.messageImg img{
    position: relative;
    top: -220px;
    left: 400px;
    z-index: 1;
}
.smileyTeacherImg img {
    position: absolute;
    top: 230px;
    left: 95px;
}
.availability-sec{
    margin-left: 50px;
}
.selection {
    background: rgba(191, 203, 210, 0.4);
   box-shadow: 0px -3px 8px 0px rgba(0, 0, 0, 0.15) inset;
   box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.05);
   border-radius: 10px;
}

.selection form{
    padding: 10px;
}
form{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}
label{
    width: 100px;
}
.timeSeletion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.select{
    width: 500px;
}
.select p{
    margin-left: 10px
}
.inputDiv{
    display: flex;
    position: relative;

}
label{
    width: 150px;
}
.switch {
    position: relative;
    display: inline-block;
    left : 5px;
    width: 47px;
    height: 24px;
    margin:5px;
 }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background: rgba(56, 182, 255, 1);
    ;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

input{
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 8em;
    height: 2em;
    font: inherit;
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 10px;
}

.firstTiming, .secondTiming, .thirdTiming{
    position: absolute;
    font-size: 12px;
    z-index: 1;
}
input:checked{
    background: rgb(94, 94, 162) border-box;

}
p:checked{
    color: #ffff;
}

select{
    display: inline-block;
    height: 50px;
    background-color: transparent;
    border: none;
}
option{
    outline: none;
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid gray;
   

    border-radius: 10px;
}

option:checked {
    box-shadow: 0 0 10px 100px rgb(95, 119, 186) inset;
    color: #ffff;
}